body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #efbdbd;
    color: #333;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.header {
    background-color: #662121;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #353535;
}

.header-top p {
    margin: 0;
    font-weight: bold;
}

.header-top nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.header-middle h1 {
    margin: 20px 0;
    font-size: 36px;
}

.header-bottom p {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #dedede;
}

.content .image {
    width: 60%;
}

.content .image img {
    width: 100%;
    height: auto;
}

.content .description {
    width: 35%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left, .footer-center, .footer-right {
    width: 30%;
}

.footer-center .icons {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.footer p {
    margin: 10px 0;
}
